@using DynamicMVC.Managers
@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SmithsModding</title>
    @Styles.Render("~/Content/bundle/css")
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/SmithsModding.css" />
    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css" />

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/jquery-2.2.0.min.js"></script>
    <script src="~/Content/Scripts/bootstrap-hover-dropdown.min.js"></script>
</head>

<body>
    <header>
        <style>
            .navbar-default {
                background-color: #4891dc;
                border-color: #1B7BDE;
            }

                .navbar-default .navbar-brand {
                    color: #fff;
                }

                .navbar-default .navbar-nav > li > a {
                    color: #fff;
                }
        </style>
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("SmithsModding", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("News", "Index", "News")</li>
                        <li class="dropdown">
                            <a href="/Projects" class="dropdown-toggle disabled" data-toggle="dropdown" data-hover="dropdown" data-delay="100" data-close-others="false">
                                Projects<span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("SmithsCore", "SmithsCore", "Projects")</li>
                                <li>@Html.ActionLink("Armory", "Armory", "Projects")</li>
                                <li>@Html.ActionLink("Armory - Weaponry", "Weaponry", "Projects")</li>
                                <li>@Html.ActionLink("Armory - World", "World", "Projects")</li>
                                <li>@Html.ActionLink("Tiny Storage", "TinyStorage", "Projects")</li>
                            </ul>
                        </li>
                        <li><a href="http://forum.smithsmodding.com" target="_blank">Forums</a></li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        @if (User.IsInRole("Administrators"))
                        {
                            <li>@Html.ActionLink("Admin", "Index", "Admin")</li>
                        }
                        @foreach (var menuItemViewModel in DynamicMVC.Managers.DynamicMVCManager.GetDynamicMenuItems())
                        {
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">@menuItemViewModel.DisplayName <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    @foreach (var childMenuViewModel in menuItemViewModel.DynamicMenuItemViewModels)
                                    {
                                        <li><a href="@Url.Action("Index", childMenuViewModel.DynamicEntityMetadata.EntityMetadata.TypeName)">@(childMenuViewModel.DisplayName)</a></li>
                                    }
                                </ul>
                            </li>
                        }
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
    </header>
    <br />
    <div class="container">
        <style>
            .container {
                margin-right: auto;
                margin-left: auto;
                padding-right:initial;
                padding-left:initial;
            }

            .jumbotron.home-index-jumbotron-header {
                padding-top: 24px;
                padding-bottom: 24px;
            }
        </style>
        <div class="container-smiths-header" id="Smiths_Header">
            <div class="jumbotron home-index-jumbotron-header" style="display:flex">
                <div class="col-2-3" style="width: calc(2/3 * 100%);">
                    <h1>@ViewBag.Title</h1>
                    <p class="lead">@ViewBag.Message</p>
                </div>
                <div class="col-1-3" style="width: calc(1/3 * 100%);margin: auto;">
                    @if (ViewBag.Logo != null)
                    {
                        <img src="@Url.Content(ViewBag.Logo)" class="img-rounded" alt="Logo" width="102" , height="102" style="float:right">
                    }
                </div>
            </div>
        </div>
        <div class="container">
            @RenderBody()
        </div>
        <hr />
        <footer>
            <p>&copy; SmithsModding - @DateTime.Now.Year</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
