@using DynamicMVC.Managers
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SmithsModding</title>
    @Styles.Render("~/Content/bundle/css")
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/SmithsModding.css"/>

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css" />
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            @Html.ActionLink("SmithsModding", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("News", "News", "Home")</li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">Projects<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Armory", "Index", "Armory")</li>
                    <li>@Html.ActionLink("Armory - Weaponry", "Weaponry", "Armory")</li>
                    <li>@Html.ActionLink("Armory - World", "World", "Armory")</li>
                    <li>@Html.ActionLink("Tiny Storage", "Index", "TinyStorage")</li>
                </ul>
            </li>
            <li>@Html.ActionLink("Forums", "Index", "Forums")</li>
            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
        </ul>
        @Html.Partial("_LoginPartial")
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; SmithsModding - @DateTime.Now.Year</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
