@using Microsoft.AspNet.Identity
@using SmithsModding_Website.Models
@model NewsViewModel
@{
    ViewBag.Title = "News";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/NewsStyle.css" />
</head>
@Html.ValidationSummary("", new { @class = "text-danger" })
<div class="container" style="display:flex">
    <div class="col-2-8" style="width:calc(2/3 * 100%)">
        <div class="container-news">
            <div class="container-news-header" style="display:flex">
                <div class="col-2-4" style="width:50%">
                    Latest News
                </div>
                @if (User.IsInRole("Administrators"))
                {
                    <div class="col-1-4" style="width:50%; text-align:right">
                        <a href=@Url.Action("GetNewItemContext","News", new { id = Guid.NewGuid()})><span class="glyphicon glyphicon-plus-sign"></span> Add Item</a>
                    </div>
                }
            </div>
            <div class="container-news-stream" style="height:555px">
                <ol class="news-feed">
                    @if (Model.newNewsItem != null)
                    {
                        <li>
                            @using (Html.BeginForm("AddNews", "News", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <div class="modal-content">
                                    <div class="modal-header">
                                        @* <button type="button" class="close" data-dismiss="modal">&times;</button> *@
                                        <a class="close" href=@Url.Action("Index", "News")>&times;</a>
                                        <h4 class="modal-title">Add a News Item</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            @Html.LabelFor(m => m.newNewsItem.Title, new { @class = "col-sm-2 control-label" })
                                            <div class="col-sm-10">
                                                @Html.TextBoxFor(m => m.newNewsItem.Title, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            @Html.LabelFor(m => m.newNewsItem.Post, new { @class = "col-sm-2 control-label" })
                                            <div class="col-sm-10">
                                                @Html.TextAreaFor(m => m.newNewsItem.Post, new { @class = "form-control wider" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <input type="submit" value="Submit" class="btn btn-default" />
                                    </div>
                                </div>
                            }
                        </li>
                    }

                    @if (Model.Items.Count > 0)
                    {
                        foreach (NewsItem item in Model.Items)
                        {

                            if (Model.editNewsItem == null || Model.editNewsItem.Id != item.Id||  !(User.IsInRole("Administrators")))
                            {
                                <li class="news-entry">
                                    <text hidden>@item.Id</text>
                                    <div class="news-header">
                                        <b>@item.Title</b>
                                    </div>
                                    <div class="news-content">
                                        @item.Post
                                    </div>
                                    <div class="news-footer">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                Posted by @item.Author.UserName on @item.PublishDate.ToShortDateString()
                                            </div>
                                            @if (User.IsInRole("Administrators") && Model.editNewsItem == null)
                                            {
                                                <div class="col-sm-6" style="text-align:right">
                                                    <a class="edit-news" href=@Url.Action("GetEditContext","News", new { id = item.Id}) style="margin-right:10px"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
                                                    <a href=@Url.Action("DeleteNewsItem", "News", new { id = item.Id })><span class="glyphicon glyphicon-trash"></span> Delete</a>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </li>
                            }
                            else
                            {
                                <li class="news-entry">
                                    <div>
                                        @using (Html.BeginForm("EditNews", "News", FormMethod.Post))
                                        {
                                            @Html.AntiForgeryToken();
                                            @Html.HiddenFor(m => m.editNewsItem.Id);
                                            @Html.HiddenFor(m => m.editNewsItem.PublishDate);
                                            <div class="modal-content context-edit-news">
                                                <div class="modal-header">
                                                    <a href=@Url.Action("Index", "News") class="btn close" style="float:right;padding:0px;margin-top:-2px">&times;</a>
                                                    <h4 class="modal-title">Edit News Item</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row">
                                                        @Html.LabelFor(m => m.editNewsItem.Title, new { @class = "col-sm-2 control-label" })
                                                        <div class="col-sm-10">
                                                            @Html.EditorFor(m => m.editNewsItem.Title, new { @class = "form-control" })
                                                        </div>
                                                    </div>
                                                    <br />
                                                    <div class="row">
                                                        @Html.LabelFor(m => m.editNewsItem.Post, new { @class = "col-sm-2 control-label" })
                                                        <div class="col-sm-10">
                                                            @Html.EditorFor(m => m.editNewsItem.Post, new { @class = "form-control wider" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <input type="submit" value="Submit" class="btn btn-default" />
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </li>
                            }
                        }
                    }
                </ol>
            </div>
        </div>
    </div>
    <div class="col-2-4" style="width:calc(1/3 * 100%)">
        <a class="twitter-timeline" href="https://twitter.com/SmithsModding" data-widget-id="691771088263602176" , data-chrome="nofooter">Tweets by SmithsModding</a>
        <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
    </div>
</div>

