@using SmithsModding_Website.Models
@model NewsViewModel
@using (Html.BeginForm("EditNews", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Add a News Item</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                @Html.LabelFor(m => m.editNewsItem.Title, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.EditorFor(m => m.editNewsItem.Title, new { @class = "form-control" })
                </div>
            </div>
            <br />
            <div class="row">
                @Html.LabelFor(m => m.editNewsItem.Post, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.EditorFor(m => m.editNewsItem.Post, new { @class = "form-control wider" })
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <input type="submit" value="Submit" class="btn btn-default" />
        </div>
    </div>
}

